* {
    text-decoration: none;
}

section {
    background-color: black;
    display: flex;
    flex-direction: column;
    max-width: 912px;
    margin: 60px 0 10px 0;
}

.return {
    display: flex;
    flex-direction: row;
    max-width: 912px;
    justify-content: left;
}

.return a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin-top: 20px;
}

.return h3 {
    margin: 1px 0 0 5px;
    color: white;
}

.page-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 30px 0 30px;
}

.weather-display {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 22px;
}

.future-weather {
    display: flex;
    flex-direction: row;
}

.title {
    display: flex;
    flex-direction: row;
    padding: 13px 0 0 0;
}

.title img {
    max-height: 40px;
    margin: 5px;
}

.title h1 {
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px 0 0 0;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 912px;
}

.add-article {
    display: flex;
    justify-content: center;
}

.add-article-button-border {
    margin: 20px;
    width: 100%;
    max-width: 912px;
}


.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #000000;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

.button-85:before {
    content: "";
    background: linear-gradient(
            45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;
    transition: 0.3s;
}

.button-85:hover::after {
    background: #000000;
    transition: 0.3s;
}