<style>
    {% include "./Models/NewsOutputComponents/Body/Body.css" %}
</style>

<section>

    <div class="main">
        <div class="page-top">
            <div class="title">
                <img src="/app/Views/Shared/Website_icon.png">
                <h1>{{ category }} news</h1>
            </div>
            <div class="weather-display">
                <div>
                    <img src="{{ weather.getIcon }}">
                </div>
                <div>
                    {{ weather.getTempC }}°C
                    <div class="future-weather">
                        {% for weathers in futureWeather %}
                            <div>
                                <img src="{{ weathers.getIcon }}" style="max-width: 30px">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="add-article">
            <div style="margin: 30px">
                <a href="/addArticle/create">
                    <button type="button" class="button-85">Add an article</button>
                </a>
            </div>
        </div>

        <div class="add-article">
            <div style="margin-bottom: 30px">
                <a href="/userArticles">
                    <button type="button" class="button-85">View user articles</button>
                </a>
            </div>
        </div>

        {% include "./Models/NewsOutputComponents/Body/NewsArticle/NewsArticle.twig" %}
    </div>
</section>