<!doctype html>
<html lang="en">

<style>
    {% include "./Shared/Styles/reset.css" %}
    {% include "./Shared/Styles/fonts.css" %}
    {% include "./Models/CreateArticleComponents/CreateArticle.css" %}
</style>

{% include "./Shared/head.twig" %}

<body>

<div class="container">
    <h2>Add news:</h2>
    <form class="form" method="post" action="/addArticle">
        <input class="textBox" name="Title" placeholder="Title" maxlength="200">
        <input class="textBox-description" name="Description" placeholder="Description" maxlength="500">
        <input class="textBox" name="img" placeholder="Image link" maxlength="200">
        <input class="textBox" name="url" placeholder="News url" maxlength="200">
        <button class="button-85" type="submit" class="" style="width: 100%; border-radius: 10px">Submit</button>
    </form>
</div>

</body>
</html>