<!doctype html>
<html lang="en">

<style>
    {% include "./Shared/Styles/reset.css" %}
    {% include "./Shared/Styles/fonts.css" %}
    {% include "./Models/NewsOutputComponents/NewsOutput.css" %}
</style>

{% include "./Shared/head.twig" %}

<body>
{% include "./Models/NewsOutputComponents/Body/Navbar/Navbar.twig" %}
{% include "./Models/NewsOutputComponents/Body/Body.twig" %}
</body>

</html>