.navbar {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    background-color: #191919;
    position: relative;
    top: 0;
    margin: auto;
    min-width: fit-content;
    max-width: 915px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    transition: 0.7s;
}

.navbar a:hover {
    background: #ddd;
    color: black;
    transition: 0.7s;
}