<style>
    {% include "./Models/NewsOutputComponents/Body/Navbar/Navbar.css" %}
</style>

<div class="navbar">
        <a href="/?category=general">General</a>
        <a href="/?category=sports">Sports</a>
        <a href="/?category=technology">Technology</a>
        <a href="/?category=entertainment">Entertainment</a>
        <a href="/?category=business">Business</a>
        <a href="/?category=health">Health</a>
</div>