.navbar {
    background-color: #191919;
    overflow: hidden;
    position: fixed;
    margin: auto;
    min-width: fit-content;
    max-width: 915px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    transition: 0.3s;
}

.navbar a:hover {
    background: #ddd;
    color: black;
    transition: 0.3s;
}