<style>
    {% include "./Models/NewsOutputComponents/Body/Navbar/Navbar.css" %}
</style>

<div class="navbar">
    <a href="/?category=general"><p>General</p></a>
    <a href="/?category=sports"><p>Sports</p></a>
    <a href="/?category=technology"><p>Technology</p></a>
    <a href="/?category=entertainment"><p>Entertainment</p></a>
    <a href="/?category=business"><p>Business</p></a>
    <a href="/?category=health"><p>Health</p></a>
</div>